OrderFoodApp/OrderFoodApp/OrderFoodApp.Android/obj
OrderFoodApp/OrderFoodApp/OrderFoodApp.Android/bin
FoodAPI/.vs
OrderFoodApp/.vs
OrderFoodApp/OrderFoodApp/OrderFoodApp.iOS/bin
OrderFoodApp/OrderFoodApp/OrderFoodApp.iOS/obj

